/* Definindo fontes e estilo base */
body {
    font-family: 'Raleway', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
    line-height: 1.6;
    transition: background-color 0.3s, color 0.3s; /* Transição suave entre os temas */
}

header {
    background-color: #007bff;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}

header h1 {
    margin: 0;
    font-size: 2.5rem;
}

header p {
    font-size: 1.2rem;
    margin-top: 10px;
}

/* Seção de conteúdo */
.glossary {
    padding: 30px;
    max-width: 1200px;
    margin: 0 auto;
}

.term {
    margin-bottom: 30px;
}

.term h2 {
    font-size: 1.8rem;
    color: #007bff;
    margin-bottom: 10px;
}

.term p {
    font-size: 1rem;
    color: #555;
    line-height: 1.6;
}

.term ul {
    list-style: none;
    padding-left: 0;
}

.term ul li {
    font-size: 1rem;
    margin-bottom: 10px;
    color: #555;
}

.term ul li strong {
    color: #007bff;
}

/* Estilo do rodapé */
footer {
    text-align: center;
    padding: 10px 0;
    background-color: #007bff;
    color: #fff;
    position: relative;
    bottom: 0;
    width: 100%;
}

/* Estilo do botão de alternância de tema */
#theme-toggle {
    position: fixed;
    top: 20px;
    right: 20px;
    background-color: #ffffff04;
    border: none;
    padding: 10px;
    border-radius: 50%;
    cursor: pointer;
    font-size: 1.5rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.007);
    transition: background-color 0.3s;
}

#theme-toggle:hover {
    background-color: #f1f1f104;
}

/* Tema Escuro */
body.dark-theme {
    background-color: #121212;
    color: #f4f4f400;
}

body.dark-theme header {
    background-color: #333;
}

body.dark-theme .term h2 {
    color: #5d84cc;
}

body.dark-theme footer {
    background-color: #333;
}

/* Responsividade para telas menores */
@media (max-width: 768px) {
    header h1 {
        font-size: 2rem;
    }

    .term h2 {
        font-size: 1.5rem;
    }

    .term p, .term ul li {
        font-size: 0.9rem;
    }
}
